.primary-fab-container{
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  z-index: 900;
}

.mdl-button--header-icon:hover{
  background-color: rgba(0,0,0,0.2);
}
