$header-height: 4rem;
$sidebar-width: 18rem;

.x-layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: #EEEEEE;
  overflow: hidden;
}

.x-sidebar{
  width: $sidebar-width;
  background-color: color("blue", "lighten-1");
}


.x-main{
  background-color: #fff;
  width:calc(100% - #{$sidebar-width});
}

.x-main-header {
  background-color: color("blue", "lighten-1");
  height: $header-height;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

.x-main-header__inner{
  width: 100%;
}
