.ignore{}
/*
#landing {
  background-color: white;
  width: 100vw;
  min-height: 100vh;

  nav {
    box-shadow: unset;
    background-color: unset;
    color: unset;
    .brand-logo {
      color: unset;
      img {
        width: 48px;
        height: auto;
      }
    }

    ul li a {
      color: unset;
    }
  }
}
*/
