/*@import "lib/reset.pcss";*/


#center-view{
  margin:75px 50px;
}


#add-fab{
  position: fixed;
  right: 10px;
  bottom: 10px;
}


.edit-todo-input{
  width: 100%;
}

.flex-expand{
    flex:1 1 auto;
}


.group-title{
  text-transform: uppercase;
  padding-left: 1rem;
  margin: 1rem;
}


.list-item-container{
  background-color: white;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}


.list-item{
  border-top: 1px solid rgba(179, 179, 179, 0.53);
}
