@import "lib/reset.pcss";

body {
  margin-left: 1rem;
}

button {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  min-width: 100px;
  background-color: rgba(0, 191, 255, 0.7);
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
}

button:hover {
  border: 1px solid black;
}

#in-basket-flow-container {
  margin-left: 3rem;
}
