paper-textarea:focus {
  outline: none;
}

paper-menu-button paper-item {
  flex: 1 1 auto;
  text-align: left;

  & a, & .a:visited {
    color: black;
  }
}


#main-header .title{
  margin-right:1rem;
}
