//@import "material/components/color";
#app-view {
  background-color: color("grey", "lighten-4");

  .google-sign-up.btn {
    background-color: $google-primary-color;
    text-transform: none;
    padding-left: 0;

    img.google-logo {
      width: 36px;
      height: 36px;
      margin-right: 1rem;
    }
  }
}

$header-height: 4rem;
$sidebar-width: 18rem;

#app-layout {
  display: flex;
  height: 100vh;
  width: 100vw;

  #app-sidebar, #app-main {
    margin-top: $header-height;
    height: calc(100% - #{$header-height});
    overflow: scroll;

    #sidebar-header, #app-main-header {
      position: fixed;
      top: 0;
      height: $header-height;
      padding: 0 1rem;
      display: flex;
      align-items: center;
      i {
        color: white;
      }
    }

    #sidebar-content, #app-main-content {

    }
  }

  #app-sidebar, #sidebar-header {
    width: $sidebar-width;
  }

  #app-main, #app-main-header {
    width: calc(100vw - #{$sidebar-width});
    @media #{$small-and-down} {
      width: 100%;
    }
  }

  @media #{$small-and-down}{
    #app-sidebar:not(.open) {
      display: none;
    }

    #app-sidebar.open  {
      margin-top: 0;
      height: 100%;
      box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
      position: fixed;
      z-index: 100;
      background-color: white;

      #sidebar-header{
        position: static;
      }
    }
  }

  #app-sidebar {

    #sidebar-header {
      h5 {
        margin: 0;
      }

      .detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        a {
          color: white;
          margin-right: 1rem;
        }
      }
    }

    #sidebar-content {

    }

  }

  #app-main {

    #app-main-header {

      .menu-btn {
        @extend .hide-on-med-and-up;
      }

    }

    #app-main-content {

    }
  }
}
