//@import "material/components/color";
#app-view {
  background-color: color("grey", "lighten-4");

  .google-sign-up.btn{
    background-color: $google-primary-color;
    text-transform: none;
    padding-left: 0;

    img.google-logo{
      width: 36px;
      height: 36px;
      margin-right: 1rem;
    }
  }
}

#app-view #app-header{
  display: flex;
  align-items: center;
  padding: 0 1rem;
  min-height: 4rem;

  .menu-btn{
    @extend .hide-on-med-and-up;
  }

  i{
    color:white;
  }
}

#app-view #left-header{
  display: flex;
  flex-direction:column;
  //align-content:center;
  justify-content:center;

  min-height: 4rem;
  padding: 0 1rem;
  i{
    color:white;
  }
  h5{
    margin: 0;
  }
}
