//@import "material/components/color";

.google-sign-up.btn {
  background-color: $google-primary-color;
  text-transform: none;
  padding-left: 0;

  img.google-logo {
    width: 36px;
    height: 36px;
    margin-right: 1rem;
  }
}

$header-height: 4rem;
$sidebar-width: 18rem;

#app-layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: #EEEEEE;
}


#layout-sidebar, #layout-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#layout-sidebar, #layout-sidebar-header {
  background-color: #F2F2F2;
  width: $sidebar-width;
}

#layout-main, #layout-main-header {
  width: calc(100vw - #{$sidebar-width});
  @media #{$small-and-down} {
    width: 100%;
  }
}

#layout-sidebar-content, #layout-main-content {
  height: calc(100vh - #{$header-height});
  overflow-y: scroll;
}

#layout-sidebar-header, #layout-main-header {

  height: $header-height;
  padding: 0 1rem;
  display: flex;
  align-items: center;

  i {
    color: white;
  }
}

#layout-sidebar-header {
  h5 {
    margin: 0;
  }

  .detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  a {
    color: white;
    margin-right: 1rem;
  }
}

#layout-main-header {

  .menu-btn {
    @extend .hide-on-med-and-up;
  }

}

@media #{$small-and-down}{
  #app-layout:not(.sidebar-overlay) {
    #layout-sidebar, #layout-sidebar-header {
      display: none;
    }
  }

  #app-layout.sidebar-overlay #layout-main::before {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
  }

  #app-layout.sidebar-overlay #layout-sidebar {
    margin-top: 0;
    height: 100%;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 100;
    background-color: white;

    #layout-sidebar-header {
      position: static;
    }

  }
}

//region layout changes for box-shadow.
#layout-sidebar-content, #layout-main-content {
  margin-top: $header-height;
}

.bottom-shadow {
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: $header-height;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  display: flex;
}

//endregion

#main-view-container {
  margin: 0 0 5rem 0;
  max-width: 600px;
  position: relative;
  min-height: 70vh;
}



