@charset "UTF-8";

@import "material/components/mixins";
@import "material/components/color";

$primary-color: color("blue", "base");
$secondary-color: color("red", "lighten-1");
$google-primary-color: color("blue", "darken-2");
$roboto-font-path: "../fonts/";

// Variables;
@import "material/components/variables";

// Reset
@import "material/components/normalize";

// components
@import "material/components/global";
@import "material/components/badges";
@import "material/components/icons-material-design";
@import "material/components/grid";
@import "material/components/navbar";
@import "material/components/roboto";
@import "material/components/typography";
@import "material/components/transitions";
@import "material/components/cards";
@import "material/components/toast";
@import "material/components/tabs";
@import "material/components/tooltip";
@import "material/components/buttons";
@import "material/components/dropdown";
@import "material/components/waves";
@import "material/components/modal";
@import "material/components/collapsible";
@import "material/components/chips";
@import "material/components/materialbox";
@import "material/components/forms/forms";
@import "material/components/table_of_contents";
@import "material/components/sideNav";
@import "material/components/preloader";
@import "material/components/slider";
@import "material/components/carousel";
@import "material/components/tapTarget";
@import "material/components/pulse";
@import "material/components/date_picker/default";
@import "material/components/date_picker/default.date";
@import "material/components/date_picker/default.time";


// --
@import "sriracha";
// --

$text-color: $off-black;
$background: #fff;

@import "landing";
@import "app";

