@font-face {
    font-family: 'Sriracha';
    font-style: normal;
    font-weight: 400;
    src: local('Sriracha'), local('Sriracha-Regular'),
        url(../assets/fonts/Sriracha.woff2) format('woff2'),
        url(../assets/fonts/Sriracha.woff) format('woff');
}

