@font-face {
    font-family: 'Sriracha';
    font-style: normal;
    font-weight: 400;
    src: local('Sriracha'), local('Sriracha-Regular'),
        url(../fonts/Sriracha/Sriracha.woff) format('woff'),
        url(../fonts/Sriracha/Sriracha.woff2) format('woff2');
}

